@import "vars"
@import "fonts"
@import "libs"

/*==========  user style  ==========*/
body
	font-family: 'Didact Gothic', sans-serif
	overflow-x: hidden
	min-width: 320px

a
	transition: .3s
	&:link
		outline: none 0
	&:visited
		outline: none 0
	&:hover
		text-decoration: none
	&:active
		outline: none 0

ul
	list-style-type: none
	margin: 0
	padding: 0

.ta-r
	text-align: right
.btn
	background-color: $accent
	border-radius: 10px
	padding: 10px 15px
	color: #fff
	font-weight: bold
	line-height: 1.3
	display: inline-block
	transition: .3s
	&:hover
		box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.49)
		color: #fff
		transform: scale(1.02)

.fix-center
	margin-left: -15px
	margin-right: 15px
	+media-breakpoint-down(lg)
		margin: 0

.page-header
	.header-inner
		.top-info
			padding: 5px 0
			border-bottom: 1px solid #ccc
			&__contacts
				display: flex
				+media-breakpoint-down(xs)
					flex-direction: column
					text-align: center
			&__phone-mail
				a
					display: inline-block
					color: $text-light
					line-height: 1
					padding: 0 15px
					font-size: 17px
					&:hover
						color: $accent
				li:first-child
					+media-breakpoint-down(xs)
						margin-bottom: 10px
					a
						border-right: 1px solid $text-light
						+media-breakpoint-down(xs)
							border: none
			&__social
				justify-content: flex-end
				flex-direction: row
				+media-breakpoint-down(xs)
					justify-content: center
					margin-top: 10px
				li
					margin-left: 15px
				a
					color: $text-light
					font-size: 24px
					display: inline-block
					&:hover
						color: $accent
						transform: scale(1.3)
	.top-menu
		padding: 15px
		+media-breakpoint-down(xs)
		padding: 15px 0
		.top-logo
			padding-right: 50px
			+media-breakpoint-down(lg)
				padding-right: 0
			+media-breakpoint-down(md)
				text-align: center
			img
				width: 100%
				transition: .3s
				+media-breakpoint-down(lg)
					width: 170%
				+media-breakpoint-down(md)
					max-width: 80px
					height: 100%
				&:hover
					transform: scale(1.1)
		.top-navigation
			display: flex
			justify-content: center
			+media-breakpoint-down(lg)
				justify-content: flex-end
			+media-breakpoint-down(md)
				flex-direction: column
			li
				padding: 0 7px
				position: relative
				color: #484848
				font-weight: bold
				text-transform: uppercase
				cursor: pointer
				+media-breakpoint-down(md)
					margin-bottom: 15px
					font-size: 20px
				a
					display: inline-block
					text-transform: uppercase
					font-weight: bold
					color: #484848
					&:hover
						color: $accent
			.with-submenu
				&:hover ul
					opacity: 1
					left: 0
				& > ul
					position: absolute
					z-index: 99
					width: 250px
					padding: 15px
					background-color: #fff
					border-bottom-left-radius: 15px
					border-bottom-right-radius: 15px
					top: 20px
					overflow: hidden
					left: -9999px
					opacity: 0
					transition: opacity .3s
					border-top: 10px solid transparent
					li:not(:last-child)
						margin-bottom: 10px
	.btn-order
		+media-breakpoint-down(lg)
			padding: 10px 7px
	.mobile-menu
		font-size: 30px
		padding-left: 10px
	.active-menu
		display: block
.slider-wrapper
	.container
		+media-breakpoint-down(sm)
			width: 100%
	.slider-item
		height: 65vh
		overflow: hidden
		position: relative
		background-size: cover
		background-repeat: no-repeat
		min-height: 450px
		+media-breakpoint-down(sm)
			min-height: 400px
		+media-breakpoint-down(xs)
			min-height: 300px
		&:before
			position: absolute
			content: ''
			top: 0
			bottom: 0
			right: 0
			left: 0
			background-color: rgba(0,0,0,.4)
		&__text-wrap
			position: relative
			height: inherit
		&__text
			position: absolute
			left: 50%
			transform: translateX(-50%)
		.slider-item__text
			top: 50%
			transform: translate(-50%,-50%)
			p
				text-align: center
				color: #fff
				font-size: 90px
				font-weight: bold
				border-radius: 10px
				padding: 25px
				+media-breakpoint-down(lg)
					font-size: 60px
				+media-breakpoint-down(sm)
					font-size: 40px
				+media-breakpoint-down(xs)
					font-size: 25px
				span
					color: #00d1ff
					font-weight: bold
		.slider-text-2
			p
				text-align: left
				font-size: 70px
				+media-breakpoint-down(lg)
					font-size: 50px
				+media-breakpoint-down(sm)
					font-size: 30px
				+media-breakpoint-down(xs)
					font-size: 25px
					text-align: center
		.slider-text-3
			p
				text-align: right
				font-size: 90px
				+media-breakpoint-down(lg)
					font-size: 60px
				+media-breakpoint-down(md)
					font-size: 50px
				+media-breakpoint-down(sm)
					font-size: 40px
				+media-breakpoint-down(xs)
					text-align: center
					font-size: 30px
.slick-slider-how-to-work
	padding-bottom: 40px
	.slick-dots
		bottom: 0
section
	padding: 80px 0
	.title-wrap
		text-align: center
		margin-bottom: 120px
		+media-breakpoint-down(xs)
			margin-bottom: 40px
	.title-section
		text-align: center
		font-size: 45px
		position: relative
		padding: 0 20px
		display: inline-block
		background-color: #fff
		+media-breakpoint-down(sm)
			font-size: 32px
	.title-section-decoration
		display: block
		height: 1px
		width: 100%
		background-color: #c1c1c1
		margin-top: -35px
		+media-breakpoint-down(sm)
			margin-top: -30px

.how-to-work
	+media-breakpoint-down(md)
		padding-bottom: 0
	+media-breakpoint-down(xs)
		padding-top: 40px
	.col
		+media-breakpoint-down(md)
			margin-bottom: 85px
			min-height: 310px
	&__item
		text-align: center
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 100%
		background-color: rgba(241, 241, 241, 0.4)
		border-radius: 15px
		padding: 10px
		transition: .3s
		+media-breakpoint-down(lg)
			padding: 5px
		+media-breakpoint-down(md)
			min-height: 310px
		&:hover
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
		.how-to-work__img
			padding: 20px
			+media-breakpoint-down(lg)
				padding: 5px
			img
				width: 100%
		.how-to-work__description
			font-size: 16px
	.col
		position: relative
		&:after
			content: ''
			position: absolute
			width: 60px
			height: 60px
			left: 50%
			bottom: -80px
			transform: translateX(-50%)
	.col:nth-child(1)
		&:after
			background: url('../img/icon_number/001-number.svg') no-repeat
	.col:nth-child(2)
		&:after
			background: url('../img/icon_number/002-number-1.svg') no-repeat
	.col:nth-child(3)
		&:after
			background: url('../img/icon_number/003-number-2.svg') no-repeat
	.col:nth-child(4)
		&:after
			background: url('../img/icon_number/004-number-3.svg') no-repeat
	.col:nth-child(5)
		&:after
			background: url('../img/icon_number/005-number-4.svg') no-repeat

.shops
	padding-bottom: 40px
	.btn
		font-size: 26px
		padding: 10px 30px
		margin-top: 50px
		+media-breakpoint-down(sm)
			font-size: 23px
			padding: 10px 20px
		+media-breakpoint-down(xs)
			margin-top: 0
	.container
		text-align: center
	.row
		height: 420px
		margin-bottom: 30px
		+media-breakpoint-down(xs)
			height: 340px
	&-item-wrap
		padding: 5px !important
	&-item-wrap:nth-child(odd)
		align-self: flex-end
		+media-breakpoint-down(xs)
			align-self: flex-start
	&-item
		&-inner
			height: 100px
			background-color: rgba(241, 241, 241, 1)
			display: flex
			align-items: center
			margin-bottom: 10px
			padding: 10px
			border-radius: 15px
			transition: .3s
			&:hover
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
			img
				width: 100%

.banner-section
	+media-breakpoint-down(md)
		padding: 40px 0 0
	&-wrapper
		padding: 90px 0 100px
		background: url('../img/map.jpg')
		background-size: cover
		background-position: 100% 100%
		background-repeat: no-repeat
		text-align: center
		position: relative
		+media-breakpoint-down(xs)
			padding: 50px 0 50px
		&:before
			position: absolute
			content: ''
			top: 0
			bottom: 0
			left: 0
			right: 0
			background-color: rgba(0, 0, 0, 0.74)
		h3
			font-size: 52px
			color: #fff
			text-align: center
			line-height: 1.5
			display: inline-block
			padding: 15px
			border-radius: 15px
			+media-breakpoint-down(md)
				font-size: 40px
			+media-breakpoint-down(sm)
				font-size: 32px
			span
				color: #00d1ff
	.banner-2
		h3
			font-size: 40px
			+media-breakpoint-down(md)
				font-size: 32px
			+media-breakpoint-down(sm)
				font-size: 23px
	.btn-other
		background-color: #fff
		color: #00d1ff
		font-size: 24px
		padding: 15px 40px
		+media-breakpoint-down(sm)
			font-size: 20px
			padding: 10px 25px

.pay-clients
	padding-top: 40px
	+media-breakpoint-down(md)
		padding-bottom: 40px
	&-item
		padding: 20px
		+media-breakpoint-down(md)
			padding: 0
		&__img
			img
				width: 100%
		&__text
			text-align: center
			font-size: 20px
			p
				padding-top: 20px
				margin-bottom: 0
				span
					font-weight: bold
					color: #00d1ff

.comments
	padding-top: 0px
	+media-breakpoint-down(md)
		padding-bottom: 0
	&-item-wrap
		padding-bottom: 40px
	&-item
		background-color: #f6f6f6
		border-radius: 15px
		padding: 15px
		position: relative
		margin-bottom: 30px
		transition: .3s
		&:hover
			filter: drop-shadow(0 3px 6px rgba(0,0,0,0.36))
		&:before
			position: absolute
			content: ''
			border: 20px solid #f6f6f6
			bottom: -40px
			right: 15px
			border-left-color: transparent
			border-bottom-color: transparent
		cite
			font-weight: bold
			margin-bottom: 15px
			display: inline-block
			font-size: 20px
		blockquote
			height: 175px
			overflow-y: auto
			font-size: 17px
			margin-bottom: 0
	&-item-wrap:nth-child(even)
		.comments-item
			background-color: $accent
			&:before
				border: 20px solid $accent
				border-left-color: transparent
				border-bottom-color: transparent
			cite
				color: #fff
			blockquote
				color: #fff
.mobile-menu-hidden
	+media-breakpoint-down(md)
		display: none
		position: absolute
		background-color: #fff
		z-index: 999
		top: 60px
		max-width: 100vw
		border-radius: 0 0 15px 15px
.social
	padding-top: 0
	+media-breakpoint-down(md)
		padding: 40px 0 20px
	.title-wrap
		margin-bottom: 10px
		p
			margin-top: 40px
			font-size: 18px
			color: $accent
	ul
		display: flex
		justify-content: center
		li
			padding: 20px
			font-size: 60px
			transition: .3s
			+media-breakpoint-down(xs)
				padding: 10px
				font-size: 40px
			&:hover
				transform: scale(1.3)
		li:nth-child(1)
			a
				color: #00e676
		li:nth-child(2)
			a
				color: #c30098
		li:nth-child(3)
			a
				color: #5e83ab
		li:nth-child(4)
			a
				color: #3666a1
				

.page-footer
	background-color: #000
	color: #fff
	padding: 40px 15px 0
	&-inner
		border-bottom: 1px solid #666
		padding: 0 0 30px
	h2
		text-transform: uppercase
		font-size: 20px
	li
		margin-bottom: 10px
		i
			font-size: 20px
			margin-right: 5px
		a
			color: #fff
			&:hover
				color: $accent
	h3
		margin-bottom: 15px
	#sub-wrap
		position: relative
		margin-bottom: 15px
		button
			position: absolute
			top: 0
			right: 0
			padding: 5px 15px
			line-height: 1
			font-size: 25px
			background-color: transparent
			cursor: pointer
			outline: none 0
			border: none
			transition: .3s
			&:hover
				right: -5px
				color: $accent
		input
			border-radius: 15px
			padding: 5px 15px
			width: 100%
			border: none
			outline: none 0
	.footer-social
		display: flex
		justify-content: flex-end
		+media-breakpoint-down(md)
			justify-content: center
		li
			margin-left: 15px
			i
				font-size: 25px
				transition: .2s
				&:hover
					transform: scale(1.3)
	.copyright
		p
			text-align: center
			padding: 20px 0
.slick-slider
	overflow: hidden
.slick-slide
	&:focus
		border: none
		outline: none 0
.slick-dots
	bottom: -40px
.slick-dots li button:before
	font-size: 25px
.slick-dots li.slick-active button:before
	color: #00d1ff
.slick-slider-pay-client
	+media-breakpoint-down(md)
		height: 420px
	.slick-dots
		+media-breakpoint-down(md)
			bottom: 0
.comments
	.slick-dots
		bottom: 0
.ta-md-c
	+media-breakpoint-down(md)
		text-align: center

.no-align
	+media-breakpoint-down(md)
	text-align: left




.header-other-page
	background: #fff url('../img/other-page.jpg') no-repeat 100% 20%
	background-size: cover
	position: relative
	&:before
		content: ''
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		background-color: rgba(0,0,0,.5)
	h1
		padding: 80px 0
		font-size: 50px
		color: #fff

.section-other-page
	padding-bottom: 20px
	.title-wrap
		margin-bottom: 60px
	.about-us-info
		text-align: center
		font-size: 18px
	.mission
		li
			font-size: 18px
			margin-bottom: 10px
			position: relative
			padding-left: 20px
			&:before
				content: ''
				position: absolute
				border-radius: 50%
				width: 10px
				height: 10px
				background-color: $accent
				left: 0
				top: 10px
.section-mission
	padding-top: 0
.other-page
	.shops
		padding-top: 10px
		.title-wrap
			margin-bottom: 80px
	.comments
		padding-top: 30px
/*==========  user style  ==========*/

@import "media" // Always at the end